# App version
VALKEY_VERSION="8.0-alpine"

# Password for authentication
VALKEY_PASSWORD="passw0rd"

# Node ports (host)
VALKEY_PORT_1=7001
VALKEY_PORT_2=7002
VALKEY_PORT_3=7003
VALKEY_PORT_4=7004
VALKEY_PORT_5=7005
VALKEY_PORT_6=7006

# Cluster bus ports (host)
VALKEY_BUS_PORT_1=17001
VALKEY_BUS_PORT_2=17002
VALKEY_BUS_PORT_3=17003
VALKEY_BUS_PORT_4=17004
VALKEY_BUS_PORT_5=17005
VALKEY_BUS_PORT_6=17006
