# App version
REDIS_VERSION="8.2.1-alpine3.22"

# Skip fixing permissions, set to 1 to skip
SKIP_FIX_PERMS=1

# Password for the default "default" user
REDIS_PASSWORD="passw0rd"

# Port to bind to on the host machine
REDIS_PORT_OVERRIDE=16379
