# Firecrawl version
FIRECRAWL_VERSION="v1.16.0"

# Redis version
REDIS_VERSION="7.4.2-alpine"

# Playwright version
PLAYWRIGHT_VERSION="latest"

# Redis configuration
REDIS_PASSWORD="firecrawl"

# Firecrawl configuration
NUM_WORKERS_PER_QUEUE=8
SCRAPE_RATE_LIMIT_TOKEN_BUCKET_SIZE=20
SCRAPE_RATE_LIMIT_TOKEN_BUCKET_REFILL=1

# Playwright configuration (optional)
PROXY_SERVER=""
PROXY_USERNAME=""
PROXY_PASSWORD=""
BLOCK_MEDIA="true"

# Port overrides
FIRECRAWL_PORT_OVERRIDE=3002
