# Gitea Runner version
GITEA_RUNNER_VERSION=0.2.13-dind

# Gitea instance URL
INSTANCE_URL=http://localhost:3000

# Registration token (get from Gitea settings -> Actions -> Runners)
REGISTRATION_TOKEN=

# Runner name
RUNNER_NAME=Gitea-Runner

# Runner labels
RUNNER_LABELS=DockerRunner
