# MLflow version
MLFLOW_VERSION="v2.20.2"

# PostgreSQL version
POSTGRES_VERSION="17.6-alpine"

# PostgreSQL configuration
POSTGRES_USER="mlflow"
POSTGRES_PASSWORD="mlflow"
POSTGRES_DB="mlflow"

# MinIO version
MINIO_VERSION="RELEASE.2025-01-07T16-13-09Z"
MINIO_MC_VERSION="RELEASE.2025-01-07T17-25-52Z"

# MinIO configuration
MINIO_ROOT_USER="minio"
MINIO_ROOT_PASSWORD="minio123"
MINIO_BUCKET="mlflow"

# Port overrides
MLFLOW_PORT_OVERRIDE=5000
MINIO_PORT_OVERRIDE=9000
MINIO_CONSOLE_PORT_OVERRIDE=9001
