# Dockge version
DOCKGE_VERSION="1"

# Port override
PORT_OVERRIDE=5001

# Stacks directory on host
STACKS_DIR="./stacks"

# Stacks directory inside container
DOCKGE_STACKS_DIR="/opt/stacks"

# User and group IDs
PUID=1000
PGID=1000
