# PocketBase Version
PB_VERSION=0.30.0

# Port to bind to on the host machine
PB_PORT=8090

# Optional 32-character encryption key (generate with: openssl rand -hex 16)
PB_ENCRYPTION=

# Admin user configuration
PB_ADMIN_EMAIL=admin@example.com
PB_ADMIN_PASSWORD=supersecret123
