# MongoDB Version
MONGO_VERSION=8.0.13

# MongoDB root credentials
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password

# Initial database name
MONGO_INITDB_DATABASE=admin

# MongoDB ports configuration
MONGO_PORT_OVERRIDE=27017
