# Gitea Version
GITEA_VERSION=1.25.4-rootless

# Database configuration
GITEA_DB_TYPE=postgres
GITEA_POSTGRES_HOST=db:5432

# PostgreSQL settings
POSTGRES_VERSION=17.6
POSTGRES_USER=gitea
POSTGRES_PASSWORD=gitea
POSTGRES_DB=gitea

# Gitea ports
GITEA_HTTP_PORT=3000
GITEA_SSH_PORT=2222
