# Component versions
ETCD_VERSION=v3.5.18
MINIO_VERSION=RELEASE.2024-12-18T13-15-44Z
MILVUS_VERSION=v2.6.7
ATTU_VERSION=v2.6.4

# MinIO configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT_OVERRIDE_API=9000
MINIO_PORT_OVERRIDE_WEBUI=9001

# Milvus configuration
MILVUS_PORT_OVERRIDE_HTTP=19530
MILVUS_PORT_OVERRIDE_WEBUI=9091
MILVUS_URL=milvus-standalone:19530

# Attu (Management UI) configuration
ATTU_PORT_OVERRIDE=8000
