# MariaDB version (must support Galera)
MARIADB_VERSION="11.7.2"

# MariaDB root password
MARIADB_ROOT_PASSWORD="galera"

# Galera cluster configuration
MARIADB_GALERA_CLUSTER_NAME="galera_cluster"

# Port overrides for each node
MARIADB_PORT_1_OVERRIDE=3306
MARIADB_PORT_2_OVERRIDE=3307
MARIADB_PORT_3_OVERRIDE=3308
