# Pogocache Version
POGOCACHE_VERSION=1.3.1

# Host port override
POGOCACHE_PORT_OVERRIDE=9401

# Resource limits
POGOCACHE_CPU_LIMIT=0.50
POGOCACHE_MEMORY_LIMIT=512M
POGOCACHE_CPU_RESERVATION=0.10
POGOCACHE_MEMORY_RESERVATION=128M

# Extra arguments for pogocache
# Example: --auth mypassword --threads 4
POGOCACHE_EXTRA_ARGS=
