# PostgreSQL Version
POSTGRES_VERSION=17.6

# Database user
POSTGRES_USER=postgres

# Database password
POSTGRES_PASSWORD=postgres

# Database name
POSTGRES_DB=postgres

# Port to bind to on the host machine
POSTGRES_PORT=5432
