# Bifrost Gateway Version
BIFROST_VERSION=v1.3.59

# Port to bind to on the host machine
BIFROST_PORT=28080

# Telemetry
PROMETHEUS_VERSION=v3.0.1
PROMETHEUS_PORT=29090
GRAFANA_VERSION=11.4.0
GRAFANA_PORT=23000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
