# Timezone
TZ=UTC

# MongoDB Version
MONGO_VERSION=8.2.3

# MongoDB root credentials
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password

# Initial database name
MONGO_INITDB_DATABASE=admin

# Replica set name
MONGO_REPLICA_SET_NAME=rs0

# MongoDB port for the single replica
MONGO_PORT_OVERRIDE_1=27017

# MongoDB host for initialization
MONGO_HOST=mongo1
