# ZooKeeper version
ZOOKEEPER_VERSION="3.9.3"

# ZooKeeper configuration
ZOO_TICK_TIME=2000
ZOO_INIT_LIMIT=10
ZOO_SYNC_LIMIT=5
ZOO_MAX_CLIENT_CNXNS=60
ZOO_4LW_COMMANDS_WHITELIST="srvr,mntr,ruok"

# Port overrides
ZOOKEEPER_CLIENT_PORT_OVERRIDE=2181
ZOOKEEPER_ADMIN_PORT_OVERRIDE=8080
