# MinerU SGLang Docker image
MINERU_DOCKER_IMAGE=alexsuntop/mineru-sglang:2.2.2

# Port configurations
MINERU_PORT_OVERRIDE_SGLANG=30000
MINERU_PORT_OVERRIDE_API=8000
MINERU_PORT_OVERRIDE_GRADIO=7860
