# HBase version
HBASE_VERSION=2.6

# Timezone
TZ=UTC

# Port overrides (optional)
# HBASE_MASTER_PORT_OVERRIDE=16000
# HBASE_MASTER_INFO_PORT_OVERRIDE=16010
# HBASE_REGIONSERVER_PORT_OVERRIDE=16020
# HBASE_REGIONSERVER_INFO_PORT_OVERRIDE=16030
# HBASE_ZOOKEEPER_PORT_OVERRIDE=2181
