# Odoo version
ODOO_VERSION="19.0"

# PostgreSQL version
POSTGRES_VERSION="17-alpine"

# Database configuration
POSTGRES_USER="odoo"
POSTGRES_PASSWORD="odoopass"
POSTGRES_DB="postgres"

# Port to bind to on the host machine
ODOO_PORT_OVERRIDE=8069
