# MySQL Version
MYSQL_VERSION=9.4.0

# Root password for MySQL
MYSQL_ROOT_PASSWORD=password

# Host pattern for root user access (% means all hosts)
MYSQL_ROOT_HOST=%

# Port to bind to on the host machine
MYSQL_PORT_OVERRIDE=3306
