# Apache version
APACHE_VERSION=2.4.62-alpine3.20

# Timezone
TZ=UTC

# Apache run user and group
APACHE_RUN_USER=www-data
APACHE_RUN_GROUP=www-data

# Port overrides (optional)
# APACHE_HTTP_PORT_OVERRIDE=80
# APACHE_HTTPS_PORT_OVERRIDE=443
