# RabbitMQ Version
RABBITMQ_VERSION=4.1.4-management-alpine

# RabbitMQ credentials
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=password

# Ports
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
