# Verdaccio version
VERDACCIO_VERSION=6.1.2

# Verdaccio container internal port (default: 4873)
VERDACCIO_PORT=4873

# Verdaccio host port mapping (default: 4873)
VERDACCIO_PORT_OVERRIDE=4873

# Timezone
TZ=UTC
